01-tipos-de-datos 
02-variables 
03-conversiones-de-datos 
04-operadores 
05-scope 
06-control-de-flujos 
07-strings 
08-ternarios 
09-funciones 
10-objetos 
11-arreglos 
12-date 
13-apis-dom-asincronia 
14-refuerzo-funciones